/* Sidebar Styles */
.app-container {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border-right: 1px solid #ddd;

  .app-siderbar-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 25px;
    border-bottom: 1px solid #ddd;

    .header-title {
      letter-spacing: 10px;
      background: linear-gradient(to right, #0575e6, #021b79);
      text-transform: uppercase;
      margin-bottom: 10px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .header-input {
      height: 40px;
      border: 2px solid #161d34;
      border-radius: 0.3rem;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      padding: 9px;
      background: none;
      &:hover {
        border-color: #1641c6;
      }

      &:focus {
        border-color: #1641c6;
      }
    }
  }

  .app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .app-sidebar-note {
      padding: 15px;
      transition: all 1s ease;
      font-weight: 300;
      margin-bottom: 3px;

      .app-sidebar-notes-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 0.5px solid gray;
        .notes-buttons {
          display: flex;
          flex-direction: row;

          .app-sidebar-title-edit-button {
            cursor: pointer;
            color: rgb(139, 142, 143);
            font-weight: 500;
            font-size: 20px;
            border: none;
            margin-right: 10px;

            &:hover {
              color: rgb(192, 216, 219);
            }
          }

          .app-sidebar-title-delete-button {
            cursor: pointer;
            color: rgb(139, 142, 143);
            font-weight: 500;
            font-size: 20px;
            border: none;

            &:hover {
              color: rgb(231, 209, 209);
            }
          }
        }
      }

      .note-content {
        width: 100%;
        height: 100px;
        overflow-y: auto;
      }
    }
  }
}
